body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-section {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}
#inputSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#currencyType{
    height: 36px;
    padding: 5px;
    border-radius: 5px;
}
#type{
    margin: 20px;
}
#value{
    margin: 20px;
    margin-top: 0;
}
#amount{
    height: 36px;
    padding: 3px;
    border-radius: 5px;
    border: solid 1px black;
    padding-left: 15px;
}
button{
    padding: 12px;
    border: none;
    background-color: #007BFF;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}
#country{
    display: flex;
    margin: 20px;
    justify-content: space-around;
    width: 100%;
}
.output-box{
    background-color: #fff;
    padding: 30px 20px 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    width: 150px;
}
.output-box i{
    margin-top: 16px;
}